@model TALLERPOON.Models.dbModels.Detallepp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detallepp</h4>
    <hr />
    <dl class="row nol">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdNavigation.IdProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProvNavigation.IdProv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDetallepp" class="btn btn-dark">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
