@model IEnumerable<TALLERPOON.Models.dbModels.Ventum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechVent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmplNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechVent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVent)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdEmplNavigation.NomEmpl)
            </td>
            <td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdVent"><button class="btn btn-dark">Imprimir</button></a>
            </td>
        </tr>

            
}
    </tbody>
</table>
<button onclick="inicio()" type="button" class="btn btn-light">Inicio</button>

<script>
    var link = 'https://localhost:7238';
    $(document).ready;
    function inicio() {
        location.href = link;
    }
</script>