@model IEnumerable<TALLERPOON.Models.dbModels.Turno>

@{
    ViewData["Title"] = "Index";
}

<h1>Turnos</h1>
<h3>Dar de alta los turnos de trabajo</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTurn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTurn)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTurn" class="btn btn-dark">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.IdTurn" class="btn btn-primary">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.IdTurn" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button onclick="inicio()" type="button" class="btn btn-light">Inicio</button>

<script>
    var link = 'https://localhost:7238';
    $(document).ready;
    function inicio() {
        location.href = link;
    }
</script>