@model IEnumerable<TALLERPOON.Models.dbModels.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantProd)
            </td>
            <td>
                   <img src="@Html.DisplayFor(modelItem => item.Imagen)">
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProd" class="btn btn-dark">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProd" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProd" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button onclick="inicio()" type="button" class="btn btn-light">Inicio</button>

<script>
    var link = 'https://localhost:7238';
    $(document).ready;
    function inicio() {
        location.href = link;
    }
</script>