@model IEnumerable<TALLERPOON.Models.dbModels.Almacen>

@{
    ViewData["Title"] = "Index";
}

<h1>Almacenes</h1>
<h3>Almacenes disponibles en el local</h3>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomAlm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <card>
        <cardbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomAlm)
                    </td>
                    <td>
                            <a asp-action="Edit" asp-route-id="@item.IdAlm" class="btn btn-dark">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdAlm" class="btn btn-primary">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdAlm" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                }
    
        </cardbody>
    </card>
    </tbody>
</table>
<button onclick="inicio()"type="button" class="btn btn-light">Inicio</button>

<script>
    var link = 'https://localhost:7238';
    $(document).ready;
    function inicio() {
        location.href = link ;
    }
</script>